body {
  margin: 0;
}

.text-green {
  color: #495E57;
}

.text-yellow {
  color: #F4CE14;
}

.text-white {
  color: #fff;
}

h1 {
  font-weight: medium;
}

h2 {
  margin-top: -15px;
}

.lead-text {
  font-size: 0.9rem;
  font-weight: medium;
}

.main-grid {
  display: grid;
  /* height: 150vh; */
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  padding: 10px;
}

header>div {
  flex-grow: 1;
  padding-left: 20px;
}

nav ul li {
  display: inline;
  padding-right: 20px;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

main {
  background-color: white;
}

.specials-section {
  padding: 60px 50px 0px 50px;
  margin-bottom: 30px;
}

.specials-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.specials-card {
  width: 100%;
  background-color: #EDEFEE;
  display: flex;
  flex-direction: column;
}

.specials-card>img {
  height: 120px;
  object-fit: cover;

}

.specials-card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title>span {
  color: red;
}

.specials-card div {
  flex-grow: 1;
}

.about-section {
  background-color: #EDEFEE;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 0px 50px 0px 50px;
}

.about-section .image1 {
  height: 200px;
  position: relative;
  z-index: 10;
  top: 50px;
  border-radius: 8px;
}

.about-section .image2 {
  height: 200px;
  position: relative;
  z-index: 20;
  border-radius: 8px;
  bottom: 50px;
  left: 50px;
}



.info-section {
  background-color: #495e57;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 0px 50px 0px 50px;
}

.info-image-div {
  place-self: end;
}

.info-image-div>img {
  height: 250px;
  width: 220px;
  position: relative;
  z-index: 10;
  top: 50px;
  border-radius: 8px;
}


.yellow-button {
  background-color: #F4CE14;
  border: none;
  border-radius: 8px;
  padding: 5px;
}



footer {
  background-color: #495e57;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 10px 50px 10px 50px;
  color: #EDEFEE;
}


footer ul {
  list-style-type: none;
  margin-left: -40px;
}

.footer-logo {
  place-self: end;
}

.footer-logo>img {
  height: 160px;
}